.aap-container{
  display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  min-height: 650px;
}
.post-card{
  margin: 20px 20px;
}
.hashtag{
  margin: 0px 3px;
}
.reaction{
  margin: 15px 0 0 0;
}
.createpost{
  width: 70%;
  margin-top: 80px;
  margin-left: 10%;
}
.corner-logo {
  position: absolute;
  top: 8px;      /* adjust distance from top */
  right: 8px;    /* adjust distance from right */
  width: 40px;   /* set your logo size */
  height: 40px;
  border-radius: 50%; /* optional: circle */
  background: white;
  padding: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  z-index: 10;
}
body {
    background: linear-gradient(135deg, #cfff5f, #f77bfe, #86e7cc, #9194ea);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.form-container {
    width: 70%; 
    margin: 50px auto; 
    background: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 15px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(8px); 
}


.form-container input,
.form-container textarea,
.form-container button {
    margin-bottom: 15px;
}
